{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar-home">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/alunos/cadastro">Cadastro</a></li>
            <li><a href="/alunos/lista">Lista</a></li>
            <li id="login-li"><a href="/alunos/login">Login</a></li>
        </ul>
    </nav>
</header>
    <h1 class="titulo-index">Seja seu Compromisso</h1>
    <p>Cadastre a sua dúvida, a sua frase ou uma dica.</p>
    <p><a class="listagem" href="/alunos/lista">Clique aqui, para ver o que já está cadastrado!</a></p>
    <p>{{sucesso}}</p>

    <form action="/alunos/cadastro" method="post">
        {% csrf_token %}
        <label for="email">Email: </label>
        <input name="email" type="email" required>

        <label for="senha">Senha: </label>
        <input name="senha" type="password" required>

        <label for="">Nome: </label>
        <input name="nome" type="text" required>

        <label for="">Escreva seu texto aqui: </label>
        <input name="frase" id="frase" cols="30" rows="10" required> </input>

        <input type="submit" id="botao" value="Enviar">
    </form>
    <img class="imagem" src="{% static 'img/duvida.jpeg' %}" alt="">
{% endblock %}